<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetStore Suite">

  <listeners>
  		<listener  class-name="utilities.ExtentReportsManager" />
  </listeners>

  <test thread-count="5" name="API Automation Test">
    <classes>
      <class name="tests.UserTest"/>
      <class name="tests.UserTest_FromExcel"/>
    </classes>
  </test> <!-- API Automation Test -->
</suite> <!-- PetStore Suite -->